@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4 col-sm-4 col-md-4 col-xs-4">
        <img src="~/Content/1.jpeg" alt="Description of the Image">

       </div>
   </div>